<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../singleCustomer.css">
  <link rel="stylesheet" href="../common.css">
  <title>Document</title>
</head>
<body>
  <nav>Basic Banking System</nav>
  <div class="single-customer-main" id="main">
    <div class="name container">
      <p class="key"> Name </p>
      <p class="value"><%= singleCustomer.name%></p>
    </div>
    <div class="email container">
      <p class="key"> Email </p>
      <p class="value"><%= singleCustomer.email%></p>
    </div>
    <div class="amount container">
      <p class="key"> Amount </p>
      <p class="value">$<%= singleCustomer.amount%></p>
    </div>
    <div class="transfer container" id="btn" href="./form.ejs">
      <p>transfer money</p>
    </div>
  </div>
  <form action="../transactions" method="post" id="form">
    <div>
      <label for="to_id"> Select customer</label>
      <select name="to_id" id="select">
        <% if(allCustomers.length > 0){%> <%allCustomers.forEach(customer=>{ %>
          <%if (!(customer._id === singleCustomer._id)){%>
          <option value=<%=customer._id%>>
            <%= customer.name %>
          </option>
        <%}%> <%})%>
        <%}%>
      </select>
    </div>
    <div>
      <label for="amount">Enter amount</label>
      <input type="number" name="amount" id="num-input">
    </div>

    <input type="hidden" name="from" value=<%= singleCustomer.name%>>
    <input type="hidden" name="from_id" value=<%= singleCustomer._id%>>
    <input type="submit" value="Send amount">

  </form>
  <footer>made with love by Eyad alsherif</footer>
  
  <script src="../form.js"></script>

</body>
</html>